<div class="card mt-1">
  <div class="row">
    <div class="card-body">
      <div class="card-title">
        <h2>Hard & Soft Slills</h2>
      </div>
    </div>

    <div class="text-center pt-2 col-sm-4 col-md-4 col-lg-4">
      <div class="skill">
        <div class="outer">
          <div class="inner">
            <div id="number" align="center">
              <div>HTML</div>35%
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
          <defs>
            <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
            </linearGradient>
          </defs>
          <circle cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
      </div>
    </div>

    <div class="text-center pt-2 col-sm-4 col-md-4 col-lg-4">
      <div class="skill">
        <div class="outer">
          <div class="inner">
            <div id="number" align="center">
              <div>Tableu</div>45%
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
          <defs>
            <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
            </linearGradient>
          </defs>
          <circle class="circle2" cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
      </div>
    </div>

    <div class="text-center pt-2 mt-4col-sm-4 col-md-4 col-lg-4">
      <div class="skill">
        <div class="outer">
          <div class="inner">
            <div id="number" align="center">
              <div>Ingles</div>40%
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
          <defs>
            <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
            </linearGradient>
          </defs>
          <circle class="circle3" cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
      </div>
    </div>

    <div class="text-center mt-4 col-sm-4 col-md-4 col-lg-4">
      <div class="skill">
        <div class="outer">
          <div class="inner">
            <div id="number" align=center>
              <div>Excel</div>95%
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
          <defs>
            <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
            </linearGradient>
          </defs>
          <circle class="circle4" cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
      </div>
    </div>

    <div class="text-center mt-4 col-sm-4 col-md-4 col-lg-4">
      <div class="skill">
        <div class="outer">
          <div class="inner">
            <div id="number" align=center>
              <div>MySQL</div>35%
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
          <defs>
            <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
            </linearGradient>
          </defs>
          <circle class="circle5" cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
      </div>
    </div>

    <div class="text-center mt-4 col-sm-4 col-md-4 col-lg-4">
      <div class="skill">
        <div class="outer">
          <div class="inner">
            <div id="number" align=center>
              <div>CSS</div>35%
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
          <defs>
            <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
            </linearGradient>
          </defs>
          <circle class="circle6" cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
      </div>
    </div>
  </div>
</div>
