/*Foto*/
@media(min-width:576px) {

  img {
    max-width: 100%;
    max-height: 100%;
  }

  #foto {
    position: absolute;
    width: 140px;
    border-radius: 100%;
    box-shadow: 1px 1px 1px rgb(230, 206, 206);
    top: 100px;
    float: left;
    padding: 0.5px;
    padding-left: 10px;
    height: 305px;
    width: 305px;

  }
}
@media (max-width: 575px) {
  #foto {
    position: absolute;
      width: 140px;
      border-radius: 100%;
      box-shadow: 1px 1px 1px rgb(230, 206, 206);
      top: 155px;
      float: left;
      padding: 0.5px;
      padding-left: 10px;
      height: 205px;
      width: 205px;
  }
}
