#editarexp1 {
  width: 30px;
  height: 30px;
  float: right;
  border: 1px solid;
    }

.form-control {
  background-color: #dcddfa;
}

@media(min-width:576px) {
.imgproyect{
  width:350px;
  margin-left:160px;
  max-width: 100%;
  max-height: 100%;
  filter: saturate(180%);
  border-radius: 35%;
    -webkit-border-radius: 35%;
    box-shadow: 0px 0px 15px 15px #d01eec;
    -webkit-box-shadow: 0px 0px 15px 15px #d01eec;
    }

.fourth:hover {
  background-position: 0;
}}

li {
  background-color: #cdcffe;
}
div {
  background-color: #cdcffe;
}
b {
  background-color: #cdcffe;
}
@media(max-width:575px) {
  .imgproyect {
    width: 220px;
    margin-left: 60px;
    filter: saturate(180%);
    border-radius: 35%;
    -webkit-border-radius: 35%;
    box-shadow: 0px 0px 15px 15px #d01eec;
    -webkit-box-shadow: 0px 0px 15px 15px #d01eec;
  }

  .fourth:hover {
    background-position: 0;
  }
}
