#editarexp1 {
  width: 30px;
  height: 30px;
  float: right;
  }

.form-control {
  background-color: #dcddfa;
}

@media(min-width:576px) {
.imgproyect{
  width:400px;
  height: 350px;
  max-width: 100%;
  max-height: 100%;
  filter: saturate(180%);
  border-radius: 35%;
    -webkit-border-radius: 35%;
    box-shadow: 0px 0px 15px 15px #d01eec;
    -webkit-box-shadow: 0px 0px 15px 15px #d01eec;
    }

.fourth:hover {
  background-position: 0;
}
.cards1 {
  display: flex;
  width: 130%;
  padding-left: 1px;
}

.card2 {
  background: rgb(0, 114, 255);
  background: linear-gradient(90deg,
      rgba(0, 114, 255, 1) 1%,
      rgba(33, 25, 173, 1) 100%);
  color: white;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
    -5px 0 10px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;
}

.card2:hover {
  margin-right: 80px;
  transform: rotate(3deg) translateY(-15px);
}

.card2 .header {
  flex: 1;
}

.card2 .header .date {
  padding: 10px 0;
}

.card2 .header .title {
  font-size: 28px;
}

card2[class*="element"] {
  margin-left: -100px;
}

.element-1:hover,
.element-2:hover {
  margin-left: -130px;
}
}

li {
  background-color: #cdcffe;
}
div {
  background-color: #cdcffe;
}
b {
  background-color: #cdcffe;
}
@media(max-width:575px) {
  .imgproyect {
    width: 65px;
    filter: saturate(180%);
    border-radius: 35%;
    -webkit-border-radius: 35%;
    box-shadow: 0px 0px 15px 15px #d01eec;
    -webkit-box-shadow: 0px 0px 15px 15px #d01eec;
  }

  .fourth:hover {
    background-position: 0;
  }
    .cards1 {
      display: flex;
      width: 130%;
      padding-left: 25px;
    }

    .card2 {
      background: rgb(0, 114, 255);
      background: linear-gradient(90deg,
          rgba(0, 114, 255, 1) 1%,
          rgba(33, 25, 173, 1) 100%);
      color: white;
      width: 100px;
      height: 100px;
      border-radius: 10px;
      padding: 18px;
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;

      box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
        -5px 0 10px rgba(0, 0, 0, 0.1);

      transition: all 0.3s ease;
    }

    .card2:hover {
      margin-right: 80px;
      transform: rotate(3deg) translateY(-15px);
    }

    .card2 .header {
      flex: 1;
    }

    .card2 .header .date {
      padding: 10px 0;
    }

    .card2 .header .title {
      font-size: 28px;
    }

    card2[class*="element"] {
      margin-left: -100px;
    }

    .element-1:hover,
    .element-2:hover {
      margin-left: -130px;
    }
}




