@media(min-width:200px) {

  #editarexp1 {
    width: 30px;
    height: 30px;
    justify-content: center;
    border: 1px solid;

  }
    .fourth {
      border-color: blue;
      background-image: -webkit-linear-gradient(45deg, #400ff1 50%, transparent 50%);
      background-image: linear-gradient(45deg, #400ff1 50%, transparent 50%);
      background-position: 100%;
      background-size: 400%;
      -webkit-transition: background 300ms ease-in-out;
      transition: background 300ms ease-in-out;
    }

  .d {
    display: inline-block;
    width: 300px;
    height: 35px;
    background-color: #dcddfa;
  }
}

div {
  background-color: #cdcffe;
}


