@media(min-width:200px) {
  #logexpcws {
    width: 100px;
    height: 105px;
    float: left;
    padding-right: 10px;
  }

  #logexprui {
    width: 100px;
    height: 85px;
    float: left;
    padding-right: 10px;
  }

  #logexpkpmg {
    width: 100px;
    height: 80px;
    float: left;
    padding-right: 10px;
  }

  #editarexp1 {
    width: 30px;
    height: 30px;
    }

  .d {
    display: inline-block;
    width: 230px;
    height: 40px;
    background-color: #dcddfa;
  }

  .form-control {
    display: inline-block;
    background-color: #dcddfa;
    border: 1px solid ;
  }
}

li {
  background-color: #cdcffe;
}
div {
  background-color: #cdcffe;
}





