<body>
  <div class="form-container" *ngIf="expLab">
    <div class="login-container">

      <h2>Bienvenido al editor de experiencia </h2>

      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <p>
          <label for="nombreE">Nombre de la empresa / Rango de Fecha</label>
          <input class="input" type="text" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required />
        </p>

        <p>
          <label for="ubicacionE">Ubicacion de la empresa</label>
          <input class="input" type="text" id="ubicacionE" name="ubicacionE" [(ngModel)]="expLab.ubicacionE" required />
        </p>

        <p>
          <label for="cargoE">Cargo</label>
          <input class="input" type="text" id="cargoE" name="cargoE" [(ngModel)]="expLab.cargoE" required />
        </p>

        <p>
          <label for="descripcionE">Funciones</label>
          <input class="input" type="text" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required />
        </p>

        <p>
          <input class="btn btn-login" type="submit" value="Actualizar experiencia" />
        </p>

      </form>
    </div>
    <div class="welcome-screen-container">
      <img class="imgproyect"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYFIw4MZBNyvhMW336Y65hjeQ76B02rkbrTA&usqp=CAU">

    </div>
  </div>
</body>
