#editarexp1 {
  width: 30px;
  height: 30px;
  border: 1px solid;
  }

.form-control {
  display: inline-block;
  margin-left: 15px;
  width: 650px;
  height: 40px;
  background-color: #dcddfa;
}

b {
  background-color: #cdcffe;
}
div {
  background-color: #cdcffe;
}
